<h1>Weather</h1>

<header>
  <ul class="nav">
    <li>
      <a href="/">Weather</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/help">Help</a>
    </li>
  </ul>
</header>
